body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.v-align-bottom {
  vertical-align: bottom !important;
}
.white-text {
  color: #fff;
}
.f-size2 {
  font-size: 2rem;
}
.container-height {
 
    height: 100vh;
}
.home-background {
  background-image: url('./assets//background.jpg');
  background-attachment: fixed;
  background-size: cover;
  
  background-repeat: no-repeat;
  filter: blur(1px);
  -webkit-filter: blur(3px);
  width : 100%;
  height: 100%;
}
.content {
  height: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 577px) {
  .content-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 576px) {
  .content-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    padding: 20px;
    text-align: center;
  }
}
.spinner-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  height: 100%;

}
.loading-img {
  display: inline-block;
   width: 5rem; 
   height: 5rem; 
    vertical-align: text-center;
    border: 0.25em solid currentColor; 
     border-right-color: transparent; 
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
    z-index: 9999;
}
